.button {
    position: relative;
    display: inline-block;
}

.button {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 4px solid #fff;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    z-index: 1;
}

.button span {
    color: #000;
}

.button:hover {
    color: rgb(226, 43, 43) !important;
}

.button:hover span {
    color: rgb(226, 43, 43) !important;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -13%;
    width: 57%; /* Adjust width */
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index:-1;
    transition: all .5s;
    overflow:hidden;
    clip:inherit;
}

.button:hover::before {
    left: -25%; /* Adjust position */
    width: 115%; /* Adjust width */
}
